@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  background-color: darkgreen;
}
.deck {
  font-family: "Roboto", sans-serif;
}

.action-button {
  margin-right: 1rem;
}
.custom-list-item {
  text-align: center;
  background-color: darkgreen;
  border: none;
}

.list-group {
  list-style: none;
}

img.gameCard {
  max-height: 90%;
  width: auto;
}

.custom-bet-modal {
  display: block;
}
